.NotePageNav {
    padding-left: 20%;
    padding-top: 25%;
}

.NotePageNav_back-button {
    background-color: #010d1e;
    border-radius: 4px;
    border: 0;
    width: 100px;
    color: #cacaca;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}
.NotePageNav_back-button:hover {
    background-color: #FFB72F;
}